# .NET Framework
# Archivos y carpetas generados por Visual Studio
.vs/
.vscode/
.idea/

# Archivos de compilación
[Dd]ebug/
[Dd]ebugPublic/
[Dd]Release/
[Dd]ReleasePublic/
[Dd]ebug-/
[Dd]Release-/
*bin/
*obj/

# Archivos temporales generados por el compilador y demás
*.[Cc]ache
*.[Pp]db
*.log
